<div class="container">
  <div class="form-container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <h2>{{ productId ? 'Edit' : 'Add' }} Product</h2>

      <label for="id">ID:</label>
      <input id="id" formControlName="id" placeholder="Enter Product ID" />

      <label for="name">Name:</label>
      <input id="name" formControlName="name" placeholder="Enter Product Name" />

      <label for="price">Price:</label>
      <input id="price" formControlName="price" placeholder="Enter Price" />

      <button type="submit">
        {{ productId ? 'Update' : 'Add' }} Product
      </button>
      <button
        type="button"
        [routerLink]="['/list']"
        class="btn-primary"
      >
        {{ productId ? 'Back to Product List' : 'Product List' }}
      </button>
    </form>
  </div>
</div>
